{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block main %}

<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">

<div class="breadcrumbs"><a href="/">Map > </a> Departments</div><hr>

{% if user.is_authenticated %}
<div class="text-xs-center">
    <div class="btn-group"> 
    <a class="btn btn-primary" href="{% url 'add_department' %}">Add a Department!</a>
    </div>
</div>
<hr>
{% endif %}

<div class="card-columns">

{% for department in departments %}
    <div class="card">
        {% thumbnail department.image "300x300" crop="center" as im %}
            <img class="card-image-top" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %} 
        {% endthumbnail %}
        <div class="card-block">
            <h4 class="card-title">{{department.name}} </h4>
            <p class="card-text">{{ department.info }}</p>
            <a href="{% url 'department' department_slug=department.slug %}" class="btn btn-primary">See Department</a>
        </div>
    </div>
{% endfor %}

</div>
</div>

{% endblock %}