{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block main %}

<main role="main" property="mainContentOfPage" class="container">
<h1 id="wb-cont" property="name">Members</h1>
<a href="/"> >>>Return to Innovation Map</a>
<p>
{% if user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'add_member' %}">Add a Member!</a>
{% endif %}
</p>

<div class="card-columns"><h4>

{% for member in members %}
    <div class="card">
        {% thumbnail member.image "300" crop="center" as im %}
            <img class="card-image-top" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %} 
        {% endthumbnail %}
        <div class="card-block">
            <h4 class="card-title">{{member.name}} </h4>
            <p class="card-text">{{ member.bio }}</p>
            <a href="{% url 'member' member_slug=member.slug %}" class="btn btn-primary">See Member</a>
        </div> 
    </div>
    <br>
{% endfor %}
</div>
<br><br>

{% endblock %}