{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load activity_tags %}



{% block main %}

<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">

<div class="breadcrumbs"><a href="/">Home > </a> Members</div><hr>

<div class="card-columns">

{% for member in members %}
    <div class="card">
        {% thumbnail member.image "300x300" crop="center" as im %}
            <img class="card-image-top" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %} 
        {% endthumbnail %}
        <div class="card-block">
            <h4 class="card-title">{{member.name}} </h4>
            <p class="card-text">{{ member.bio }}</p>
            <a href="{% url 'member' member_slug=member.slug %}" class="btn btn-primary">See Member</a>
            <a class="btn btn-primary" href="{% follow_url member %}">
            {% if request.user|is_following:member %}
                Stop Following
            {% else %}
                Follow
            {% endif %}
            </a>
        </div> 
    </div>
{% endfor %}

</div>
</div>

{% endblock %}