{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block main %}

<main role="main" property="mainContentOfPage" class="container">
<h1 id="wb-cont" property="name">Members</h1>
<p>
<a class="btn btn-primary" href="docs/ref/theme-gc-intranet/theme-gc-intranet-en.html">Documentation</a>
<a class="btn btn-primary" href="https://github.com/wet-boew/theme-gc-intranet/issues/new?title=Government%20of%20Canada%20Intranet%20theme:%20">Questions or comments?</a>
<a class="btn btn-primary" href="{% url 'add_member' %}">Add a Member!</a>
</p>

<div class="card-columns">

{% for member in members %}
    <div class="card">
        {% thumbnail member.image "400" crop="center" as im %}
            <img class="card-image-top" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %} 
        {% endthumbnail %}
        <div class="card-block">
            <h4 class="card-title">{{member.name}} </h4>
            <p class="card-text">{{ member.bio }}</p>
            <a href="{% url 'member' member_slug=member.slug %}" class="btn btn-primary">See Member</a>
        </div>
            
    </div>
{% endfor %}
</div>
<br><br>

{% endblock %}