{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block main %}

<main role="main" property="mainContentOfPage" class="container">
<h1 id="wb-cont" property="name">Projects</h1>
<p>
<a class="btn btn-primary" href="docs/ref/theme-gc-intranet/theme-gc-intranet-en.html">Documentation</a>
<a class="btn btn-primary" href="https://github.com/wet-boew/theme-gc-intranet/issues/new?title=Government%20of%20Canada%20Intranet%20theme:%20">Questions or comments?</a>
<a class="btn btn-primary" href="{% url 'add_project' %}">Add a Project!</a>
<a class="btn btn-primary" href="{% url 'add_role' %}">Join a Project!</a>
</p>

<div class="card-columns">

{% for project in projects %}
    <div class="card">
        {% thumbnail project.image "300" crop="center" as im %}
            <img class="card-image-top" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %} 
        {% endthumbnail %}
        <div class="card-block">
            <h4 class="card-title">{{project.name}} </h4>
            <p class="card-text">{{ project.short_text }}</p>
            <a href="{% url 'project' project_slug=project.slug %}" class="btn btn-primary">See Project</a>
        </div>
            
    </div>
{% endfor %}

</div>
<br><br>

{% endblock %}