{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load activity_tags %}


{% block main %}

<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">

<div class="breadcrumbs"><a href="/">Home > </a> Teams</div><hr>

{% if user.is_authenticated %}
<div class="text-xs-center">
    <div class="btn-group"> 
    <a class="btn btn-primary" href="{% url 'add_team' %}">Add a Team!</a>
    </div>
</div>
<hr>
{% endif %}

<div class="card-columns">

{% for team in teams %}
    <div class="card">
        {% thumbnail team.image "300x300" crop="center" as im %}
            <img class="card-image-top" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %} 
        {% endthumbnail %}
        <div class="card-block">
            <h4 class="card-title">{{team.name}} </h4>
            <p class="card-text">{{ team.info }}</p>
            <hr>
            {% if team.tags %}
                <div class="container">
                    {% for tag in team.tags.all %}
                        {% thumbnail tag.image "40x40" crop="center" as im %}
                            <a href="{% url 'tag' tag_slug=tag.slug %}" title="{{ tag.name }}">
                            <img src="{{ im.url }}" class="img-rounded" width="{{ im.width }}" height="{{ im.height }}"></a>
                        {% empty %}
                        {% endthumbnail %}
                    {% endfor %}
                </div>
             {% else %}
                <p>No tags.</p>
             {% endif %}
            <hr>
            <a href="{% url 'team' team_slug=team.slug %}" class="btn btn-primary">See Team</a>
            {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% follow_url team %}?next={{request.path}}">
            {% if request.user|is_following:team %}
                Stop Following
            {% else %}
                Follow
            {% endif %}</a>
            {% endif %}
        </div>
    </div>
{% endfor %}

</div>
</div>

{% endblock %}