{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block main %}

<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">

<div class="breadcrumbs"><a href="/">Map > </a> Tags</div><hr>

{% if user.is_authenticated %}
<div class="text-xs-center">
    <div class="btn-group"> 
    <a class="btn btn-primary" href="{% url 'add_tag' %}">Add a Tag!</a>
    </div>
</div>
<hr>
{% endif %}

<div class="card-columns">

{% for tag in tags %}
    <div class="card">
        {% thumbnail tag.image "300x300" crop="center" as im %}
            <img class="card-image-top" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %} 
        {% endthumbnail %}
        <div class="card-block">
            <h4 class="card-title">{{tag.name}} </h4>
            <p class="card-text">{{ tag.description }}</p>
            <a href="{% url 'tag' tag_slug=tag.slug %}" class="btn btn-primary">See Tag</a>
        </div>   
    </div>
{% endfor %}

</div>
</div>

{% endblock %}