{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load activity_tags %}


{% block main %}

<div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">

<div class="breadcrumbs"><a href="/">Home > </a> Projects</div>

{% if user.is_authenticated %}
<div class="text-xs-center">
    <div class="btn-group"> 
    <a class="btn btn-primary" href="{% url 'add_project' %}">Add a Project!</a>
    </div>
</div>
<hr>
{% endif %}


<div class="card-columns">

{% for project in projects %}
    <div class="card">
        {% thumbnail project.image "300x300" crop="center" as im %}
            <img class="card-image-top" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %} 
        {% endthumbnail %}
        <div class="card-block">
            <h4 class="card-title">{{project.name}} </h4>
            <p class="card-text">{{ project.short_text }}</p>
            <hr>
            {% if project.tags %}
                <div class="container">
                    {% for tag in project.tags.all %}
                        {% thumbnail tag.image "40x40" crop="center" as im %}
                            <a href="{% url 'tag' tag_slug=tag.slug %}" title="{{ tag.name }}">
                            <img src="{{ im.url }}" class="img-rounded" width="{{ im.width }}" height="{{ im.height }}"></a>
                        {% empty %}
                        {% endthumbnail %}
                    {% endfor %}
                </div>
             {% else %}
                <p>No tags.</p>
             {% endif %}
            <hr>
            <a href="{% url 'project' project_slug=project.slug %}" class="btn btn-primary">See Project</a>
            {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% follow_url project %}?next={{request.path}}">
            {% if request.user|is_following:project %}
                Stop Following
            {% else %}
                Follow
            {% endif %}</a>
            {% endif %}
            
        </div>
    </div>
{% endfor %}

</div>

</div>

{% endblock %}