{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load activity_tags %}


{% block main %}

<div class="col-xl-8 col-lg-10 col-md-10 col-sm-12">

<div class="breadcrumbs"><a href="/">Home > </a> Organizations</div><hr>

{% if user.is_authenticated %}
<div class="text-xs-center">
    <div class="btn-group"> 
    <a class="btn btn-primary" href="{% url 'add_organization' %}">Add an Organization!</a>
    </div>
</div>
<hr>
{% endif %}

<div class="card-columns">

{% for organization in organizations %}
    <div class="card">
        {% thumbnail organization.image "300x300" crop="center" as im %}
            <img class="card-image-top" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %} 
        {% endthumbnail %}
        <div class="card-block">
            <h4 class="card-title">{{organization.name}} </h4>
            <p class="card-text">{{ organization.info }}</p>
            <hr>
            {% if organization.tags %}
                <div class="container">
                    {% for tag in organization.tags.all %}
                        {% thumbnail tag.image "40x40" crop="center" as im %}
                            <a href="{% url 'tag' tag_slug=tag.slug %}" title="{{ tag.name }}">
                            <img src="{{ im.url }}" class="img-rounded" width="{{ im.width }}" height="{{ im.height }}"></a>
                        {% empty %}
                        {% endthumbnail %}
                    {% endfor %}
                </div>
             {% else %}
                <p>No tags.</p>
             {% endif %}
            <hr>
            <a href="{% url 'organization' organization_slug=organization.slug %}" class="btn btn-primary">See Organization</a>
            {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% follow_url organization %}?next={{request.path}}">
            {% if request.user|is_following:organization %}
                Stop Following
            {% else %}
                Follow
            {% endif %}</a>
            {% endif %}
        </div>
    </div>
{% endfor %}

</div>
</div>

{% endblock %}