{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block main %}

<main role="main" property="mainContentOfPage" class="container">
<h1 id="wb-cont" property="name">Tags</h1>
<a href="/"> >>>Return to Innovation Map</a><br>
<p>
{% if user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'add_tag' %}">Add a Tag!</a>
{% endif %}
</p>

<div class="card-columns">

{% for tag in tags %}
    <div class="card">
        {% thumbnail tag.image "300x300" crop="center" as im %}
            <img class="card-image-top" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %} 
        {% endthumbnail %}
        <div class="card-block">
            <h4 class="card-title">{{tag.name}} </h4>
            <p class="card-text">{{ tag.description }}</p>
            <a href="{% url 'tag' tag_slug=tag.slug %}" class="btn btn-primary">See Tag</a>
        </div>   
    </div>
    <br>
{% endfor %}
</div>
<br><br>

{% endblock %}