{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load activity_tags %}


{% block main %}

<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">

<div class="breadcrumbs"><a href="/">Home > </a> Projects</div>

{% if user.is_authenticated %}
<div class="text-xs-center">
    <div class="btn-group"> 
    <a class="btn btn-primary" href="{% url 'add_project' %}">Add a Project!</a>
    </div>
</div>
<hr>
{% endif %}


<div class="card-columns">

{% for project in projects %}
    <div class="card">
        {% thumbnail project.image "300x300" crop="center" as im %}
            <img class="card-image-top" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %} 
        {% endthumbnail %}
        <div class="card-block">
            <h4 class="card-title">{{project.name}} </h4>
            <p class="card-text">{{ project.short_text }}</p>
            <a href="{% url 'project' project_slug=project.slug %}" class="btn btn-primary">See Project</a>
            {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% follow_url project %}?next={{request.path}}">
            {% if request.user|is_following:project %}
                Stop Following
            {% else %}
                Follow
            {% endif %}</a>
            {% endif %}
            
        </div>
    </div>
{% endfor %}

</div>

</div>

{% endblock %}