{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load leaflet_tags %}


{% block main %}

<div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
<hr>
<div class="text-xs-center">
<p>CivicEngine connects you with projects worth doing - showing the issues and opportunities available and helping you build the connections and partnerships you need to make things happen.</p>  
<p>Be part of something bigger.</p>
</div>
<hr>
<div class="text-xs-center">
    <h4>View Content</h4>
    <div class="btn-group" role="group" aria-teamel="See Content">
        <a href="{% url 'all_issues' %}" class="btn btn-primary">Issues</a>

        <a href="{% url 'all_projects' %}" class="btn btn-primary">Projects</a>

        <a href="{% url 'all_organizations' %}" class="btn btn-primary">Organizations</a>

        <a href="{% url 'all_teams' %}" class="btn btn-primary">Teams</a>

        <a href="{% url 'all_members' %}" class="btn btn-primary">Members</a>

        <a href="{% url 'all_tags' %}" class="btn btn-primary">Tags</a>

        <a class="btn btn-primary" href="{% url 'visualize' %}">Visualize Data!</a>
    </div>
</div>

<hr>
<div class="img-responsive">
    <div id="map" style="width: 100%; height: 450px">
    </div>
</div>
<hr>

{% if user.is_authenticated %}
<div class="text-xs-center">
    <div class="btn-group" role="group" aria-teamel="Add Content">
        <a class="btn btn-primary" href="{% url 'add_issue' %}">Add an Issue!</a>
        <a class="btn btn-primary" href="{% url 'add_project' %}">Add a Project!</a>
        <a class="btn btn-primary" href="{% url 'add_organization' %}">Add an Organization!</a>
        <a class="btn btn-primary" href="{% url 'add_team' %}">Add a Team!</a>
        <a class="btn btn-primary" href="{% url 'add_tag' %}">Add a Tag!</a>
    </div>
</div>
<hr>
{% else %}
{% endif %}

</div>

</main>

<script type="text/javascript">
        var map = L.map('map').setView([54.16045, -92.01873], 4);

        L.tileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'examples.map-i875mjb7'
        }).addTo(map);

        {% for project in projects %}
        L.marker([{{ project.latitude|floatformat:6 }}, {{ project.longitude|floatformat:6 }}], 4).addTo(map)
        .bindPopup( "{{project.name}}" ).openPopup();
        {% endfor %}

        var popup = L.popup();

        </script>
{% endblock %}

</body>
</html>