{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load activity_tags %}


{% block main %}

<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">

<div class="breadcrumbs"><a href="/">Home > </a><a href="{% url 'all_issues' %}"> Issues ></a> {{issue.name}}</div>
<hr>

<h2>{{ issue.name }}</h2>

<div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
    {% thumbnail issue.image "300x300" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    </div>

    <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
    <hr>
    {{ issue.summary }}
    <hr>
    <h4>Details:</h4>
    <ul>
        <li>Scope: {{issue.scope}}</li>
        <li>Status: {{issue.status}}</li>
        <li>Date Created: {{issue.date_created}}</li>
        <li>Priority: {{issue.priority}}</li>
    </ul>
    </div>
</div>

<div call="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <hr>
    {{issue.description}}
    <hr>
</div>

<h4>Projects:</h4>
<div class="card-columns">

{% for response in responses %}
    <div class="card">
        {% thumbnail response.project.image "300x300" crop="center" as im %}
            <img class="card-image-top" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %} 
        {% endthumbnail %}
        <div class="card-block">
            <h4 class="card-title">{{response.project.name}} </h4>
            <p class="card-text">{{ response.project.short_text }}</p>
            <hr>
            {% if project.tags %}
                <div class="container">
                    {% for tag in project.tags.all %}
                        {% thumbnail tag.image "40x40" crop="center" as im %}
                            <a href="{% url 'tag' tag_slug=tag.slug %}" title="{{ tag.name }}">
                            <img src="{{ im.url }}" class="img-rounded" width="{{ im.width }}" height="{{ im.height }}"></a>
                        {% empty %}
                        {% endthumbnail %}
                    {% endfor %}
                </div>
             {% else %}
                <p>No tags.</p>
             {% endif %}
            <hr>
            <a href="{% url 'project' project_slug=response.project.slug %}" class="btn btn-primary">See Project</a>
            {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% follow_url response.project %}?next={{request.path}}">
            {% if request.user|is_following:response.project %}
                Stop Following
            {% else %}
                Follow
            {% endif %}
            </a>
            {% endif %}
            {% if response.project.creator == user %}
                <a class="btn btn-danger" href="{% url 'response-delete' pk=response.pk %}">Remove Project</a>
            {% endif %}
        </div>
    </div>
{% endfor %}

</div>
<hr>
    <h4>Stories:</h4> 
       <div class="card-columns">

            {% for story in stories %}
            <div class="card">
                {% thumbnail story.image "300x300" crop="center" as im %}
                    <img class="card-image-top" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %} 
                {% endthumbnail %}
                <div class="card-block">
                    <h4 class="card-title">{{story.name}} </h4>
                    <p class="card-text">{{ story.impact_statement }}</p>
                    <hr>
                    <p class="card-text">Priority {{ story.priority }} | Likes {{ story.rating }} | Followers {{ story.followers.count }}</p>
                    <hr>
                    {% if story.tags %}
                        <div class="container">
                            {% for tag in story.tags.all %}
                                {% thumbnail tag.image "40x40" crop="center" as im %}
                                    <a href="{% url 'tag' tag_slug=tag.slug %}" title="{{ tag.name }}">
                                    <img src="{{ im.url }}" class="img-rounded" width="{{ im.width }}" height="{{ im.height }}"></a>
                                {% empty %}
                                {% endthumbnail %}
                            {% endfor %}
                        </div>
                     {% else %}
                        <p>No tags.</p>
                     {% endif %}
                    <hr>
                    {% if user.is_authenticated %}
                    <a class="btn btn-primary" href="{% follow_url story %}?next={{request.path}}">
                    {% if request.user|is_following:story %}
                        Stop Following
                    {% else %}
                        Follow
                    {% endif %}
                    </a>
                    {% endif %}
                    {% if story.creator == user %}
                    <a class="btn btn-warning" href="{% url 'story_form' pk=issue.pk %}">Edit Story</a>
                    <a class="btn btn-danger" href="{% url 'story-delete' pk=story.pk %}">Delete Story</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        </div>
        <hr>

{% if issue.creator == user %}
<a class="btn btn-warning" href="{% url 'issue_form' pk=issue.pk %}">Edit Issue</a>
{% endif %}

{% if user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'add_story' issue_pk=issue.pk %}">Add a Story</a>
<a class="btn btn-primary" href="{% url 'add_project' %}">Create Project</a>
{% endif %}

{% if user_projects.count > 0 %}
<a class="btn btn-primary" href="{% url 'add_response' issue_pk=issue.pk %}">Link Project</a>
{% endif %}

</div>
</div>

{% endblock %}
