{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block main %}

<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">

<div class="breadcrumbs"><a href="/">Home > </a><a href="{% url 'all_members' %}"> Members ></a> {{member.name}}</div>
<hr>

<h2>{{ member.name }}</h2>

<div>
    {% thumbnail member.image "300x300" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% empty %}
    {% endthumbnail %}
    <hr>

    <h4>Details:</h4>
    <ul>
        <li>Organization: 
        {% if member.organization %}
        <a href="{% url 'organization' organization_slug=member.organization.slug %}">{{ member.organization.name }}</a>, {{member.branch}}
        {% else %}
        None
        {% endif %}</li>

        <li>Teams:
        {% if teams %}
            {% for team in teams %}
                <a href="{% url 'team' team_slug=team.slug %}">{{ team.name }}</a> 
            {% endfor %}
        {% else %}
        None
        {% endif %}</li>

    <li>Email: <a href="mailto:{{member.email}}">{{ member.email }}</a></li>
    <li>Phone:</h4> {{member.phone}}</li>
    <li>Profile:</h4> <a href="{{member.profile}}">{{ member.name }} on GCconnex</a></li>
    </ul>
    <hr>
    {{member.bio}}
    <hr>
    <h4>Tags:</h4>
    {% if tags %}
        <ul>
            {% for tag in tags %}
                <li><a href="{% url 'tag' tag_slug=tag.slug %}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
     {% else %}
        <p>No tags.</p>
     {% endif %}
     <hr>

     <h4>Projects:</h4>
    {% if roles %}
        <ul>
            {% for role in roles %}
                <li><a href="{% url 'team' team_slug=role.team.slug %}">{{role}}</a>{{role.team.project}} - Status: {{role.status}}

                {% if role.person.user == user %}
                <a class="btn btn-danger" href="{% url 'quit_role' role_pk=role.pk member_pk=user.member.pk %}">Retire from Position</a>
                {% endif %}</li>
            {% endfor %}
        </ul>
     {% else %}
        <p>No projects.</p>
     {% endif %}
     <hr>

     <h4>Team Members:</h4>
    {% if members.all %}
        <ul>
            {% for member in members.all %}
                <li><a href="{% url 'member' member_slug=member.slug %}">{{ member.name }}</a></li>
            {% endfor %}
        </ul>
     {% else %}
        <li><p>No teammates.</p></li>
     {% endif %}
        <hr>

{% if member.user == user %}
<a class="btn btn-warning" href="{% url 'member_form' pk=member.pk %}">Edit Member</a>
{% endif %}

</div>
</div>

{% endblock %}
