{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block main %}

<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">

<div class="breadcrumbs"><a href="/">Map > </a><a href="{% url 'all_members' %}"> Members ></a> {{member.name}}</div>
<hr>

<h2>{{ member.name }}</h2>

<div>
    {% thumbnail member.image "300x300" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% empty %}
    {% endthumbnail %}
    <hr>

    <h4>Details:</h4>
    <ul>
        <li>Organization: 
        <a href="{% url 'organization' organization_slug=member.organization.slug %}">{{ member.organization.name }}</a>, {{member.branch}}</li>

        <li>Lab: 
        <a href="{% url 'lab' lab_slug=member.lab.slug %}">{{ member.lab.name }}</a></li>

    <li>Email: <a href="mailto:{{member.email}}">{{ member.email }}</a></li>
    <li>Phone:</h4> {{member.phone}}</li>
    <li>Profile:</h4> <a href="{{member.profile}}">{{ member.name }} on GCconnex</a></li>
    </ul>
    <hr>
    <h4>Bio:</h4> {{member.bio}}
    <hr>
    <h4>Tags:</h4>
    {% if tags %}
        <ul>
            {% for tag in tags %}
                <li><a href="{% url 'tag' tag_slug=tag.slug %}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
     {% else %}
        <p>No tags.</p>
     {% endif %}
     <hr>

     <h4>Projects:</h4>
    {% if projects %}
        <ul>
            {% for role in projects %}
                <li><a href="{% url 'project' project_slug=role.project.slug %}">{{role.role}} - {{ role.project.name }}</a></li>
            {% endfor %}
        </ul>
     {% else %}
        <p>No projects.</p>
     {% endif %}
     <hr>

     <h4>Team Members:</h4>
    {% if members %}
        <ul>
            {% for member in members %}
                <li><a href="{% url 'member' member_slug=member.slug %}">{{ member.name }}</a></li>
            {% endfor %}
        </ul>
     {% else %}
        <p>No teammates.</p>
     {% endif %}
        <hr>

{% if member.user == user %}
<a class="btn btn-info" href="{% url 'member-update' pk=member.pk %}">Edit</a>
{% endif %}

</div>
</div>

{% endblock %}
