{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block main %}

<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">

<div class="breadcrumbs"><a href="/">Map > </a><a href="{% url 'all_organizations' %}"> Organizations ></a> {{organization.name}}</div>
<hr>

<h2>{{ organization.name }} ({{ organization.acronym }})</h2>

    {% thumbnail image "300x300" crop="center" as im %}
        <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %} 
    {% endthumbnail %}
    <hr>
    <h4>Info:</h4> {{organization.info}}
    <hr>
    <h4>Website:</h4>
    <ul>
        <li>
            <a href="{{ organization.website }}">{{organization.website}}</a>
        </li>
    </ul>
    
    <h4>Tags:</h4>
    {% if tags %}
        <ul>
            {% for tag in tags %}
                <li><a href="{% url 'tag' tag_slug=tag.slug %}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
     {% else %}
        <p>No tags.</p>
     {% endif %}

     <h4>Projects:</h4>
    {% if projects %}
        <ul>
            {% for project in projects %}
                <li><a href="{% url 'project' project_slug=project.slug %}">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
     {% else %}
        <p>No projects.</p>
     {% endif %}

     <h4>Members:</h4>
    {% if members %}
        <ul>
            {% for member in members %}
                <li><a href="{% url 'member' member_slug=member.slug %}">{{ member.name }}</a></li>
            {% endfor %}
        </ul>
     {% else %}
        <p>No team members.</p>
     {% endif %}

<hr>
{% if organization.creator == user %}
<a class="btn btn-info" href="{% url 'organization-update' pk=organization.pk %}">Edit</a>
{% endif %}
</div>

{% endblock %}
