{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block main %}

<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">

<div class="breadcrumbs"><a href="/">Map > </a><a href="{% url 'all_projects' %}"> Projects ></a> {{project.name}}</div>
<hr>

<h2>{{ project.name }}</h2>

<div>

    {% thumbnail project.image "300x300" crop="center" as im %}
                    <img src="{{ im.url }}"" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    <hr>
    <h4>Summary:</h4> {{project.short_text}}
    <hr>
    <h4>Description:</h4> {{project.detail_text}}
    <hr>
    <h4>Project Details:</h4>
    <ul>
        <li>Submitted: {{project.submitted_date}}</li>
        <li>Start Date: {{project.start_date}}</li>
        <li>End Date: {{project.end_date}}</li>
    </ul>
    <hr>
    <h4>Departments:</h4> 
        <ul>
            {% for department in sponsoring_departments %}
                <li><a href="{% url 'department' department_slug=department.slug %}">{{ department.name }}</a></li>
            {% endfor %}
        </ul>
    <hr>
    <h4>Labs:</h4> 
        <ul>
            {% for lab in labs %}
                <li><a href="{% url 'lab' lab_slug=lab.slug %}">{{ lab.name }}</a></li>
            {% endfor %}
        </ul>
    <hr>
    <h4>Team:</h4> 
        <ul>
            {% for role in team %}
                <li><a href="{% url 'member' member_slug=role.person.slug %}">{{ role.role }} - {{ role.person.name }}</a></li>
            {% endfor %}
        </ul>
    <hr>
    <h4>Tags:</h4>
        <ul>
            {% for tag in tags %}
                <li><a href="{% url 'tag' tag_slug=tag.slug %}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>

{% if project.creator == user %}
<a class="btn btn-info" href="{% url 'project-update' pk=project.pk %}">Edit</a>
{% endif %}

</div>
</div>

{% endblock %}
