{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block main %}

<main role="main" property="mainContentOfPage" class="container">
<h1 id="wb-cont" property="name">Retire from Position of {{role.role }} on {{ team.name }}</h1>

<section>
<hr>
<h4>Details</h4>
<ul>
	<li>Team: {{ role.team }}</li>
	<li>Start Date: {{ role.start_date }}</li>
	<li>End Date: {{ role.end_date }}</li>
	<li>Hours per Week: {{ role.hrs_per_week }}</li>
</ul>
<hr>

    {% crispy role_form %}

<hr>
</section>
{% endblock %}
