{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block main %}

<main role="main" property="mainContentOfPage" class="container">
<h1 id="wb-cont" property="name">Tags</h1>
<a href="{% url 'all_tags' %}">Return to all tags</a>
<p>
{% if user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'add_tag' %}">Add a Tag!</a>
{% endif %}
</p>
<section>
<h2>{{ tag.name }}</h2>

<div>
    <h3>Details</h3>
    {% thumbnail tag.image "300x300" crop="center" as im %}
        <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %} 
    {% endthumbnail %}
    <h4>Description:</h4> 
    <p>{{tag.description}}</p>
    
    <h4>Departments:</h4>
    {% if departments %}
        <ul>
            {% for department in departments %}
                <li><a href="{% url 'department' department_slug=department.slug %}">{{ department.name }}</a></li>
            {% endfor %}
        </ul>
    </ul>
     {% else %}
        <p>No departments.</p>
     {% endif %}

     <h4>Projects:</h4>
    {% if projects %}
        <ul>
            {% for project in projects %}
                <li><a href="{% url 'project' project_slug=project.slug %}">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
    </ul>
     {% else %}
        <p>No projects.</p>
     {% endif %}

     <h4>Members:</h4>
    {% if members %}
        <ul>
            {% for member in members %}
                <li><a href="{% url 'member' member_slug=member.slug %}">{{ member.name }}</a></li>
            {% endfor %}
        </ul>
    </ul>
     {% else %}
        <p>No team members.</p>
     {% endif %}

</div>

</section>
</section>

<dl id="wb-dtmd">
<dt>Date modified:&#32;</dt>
<dd><time property="dateModified">2014-08-19</time></dd>
</dl>
</main>

{% endblock %}
