{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block main %}

<main role="main" property="mainContentOfPage" class="container">
<h1 id="wb-cont" property="name">Tags</h1>
<p>
<a class="btn btn-primary" href="docs/ref/theme-gc-intranet/theme-gc-intranet-en.html">Documentation</a>
<a class="btn btn-primary" href="https://github.com/wet-boew/theme-gc-intranet/issues/new?title=Government%20of%20Canada%20Intranet%20theme:%20">Questions or comments?</a>
<a class="btn btn-primary" href="{% url 'add_tag' %}">Add a Tag!</a>
</p>
<section>
<h2>{{ tag.name }}</h2>

<div>
    <h3>Details</h3>
    <h4>Description:</h4> 
    <p>{{tag.description}}</p>
    
    <h4>Departments:</h4>
    {% if departments %}
        <ul>
            {% for department in departments %}
                <li><a href="{% url 'department' department_slug=department.slug %}">{{ department.name }}</a></li>
            {% endfor %}
        </ul>
    </ul>
     {% else %}
        <p>No departments.</p>
     {% endif %}

     <h4>Projects:</h4>
    {% if projects %}
        <ul>
            {% for project in projects %}
                <li><a href="{% url 'project' project_slug=project.slug %}">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
    </ul>
     {% else %}
        <p>No projects.</p>
     {% endif %}

     <h4>Members:</h4>
    {% if members %}
        <ul>
            {% for member in members %}
                <li><a href="{% url 'member' member_slug=member.slug %}">{{ member.name }}</a></li>
            {% endfor %}
        </ul>
    </ul>
     {% else %}
        <p>No team members.</p>
     {% endif %}

</div>

</section>
</section>

<dl id="wb-dtmd">
<dt>Date modified:&#32;</dt>
<dd><time property="dateModified">2014-08-19</time></dd>
</dl>
</main>

{% endblock %}
