{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block main %}

<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">

<div class="breadcrumbs"><a href="/">Home > </a><a href="{% url 'all_teams' %}"> Teams ></a> {{ team.name }}</div>
<hr>

<h2>{{ team.name }} ({{ team.acronym }})</h2>

<div>
    {% thumbnail image "400x300" crop="center" as im %}
        <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% empty %} 
    {% endthumbnail %}
    <hr>
    <h4>Info:</h4> {{team.info}}
    <hr>
    <h4>Website:</h4> 
    <a href="{{ team.website }}">{{team.website}}</a>
    
    <h4>Tags:</h4>
    {% if tags %}
        <ul>
            {% for tag in tags %}
                <li><a href="{% url 'tag' tag_slug=tag.slug %}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
     {% else %}
        <p>No tags.</p>
     {% endif %}

     <h4>Projects:</h4>
    {% if projects %}
        <ul>
            {% for project in projects %}
                <li><a href="{% url 'project' project_slug=project.slug %}">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
     {% else %}
        <p>No projects.</p>
     {% endif %}

     <h4>Members:</h4>
    {% if roles %}
        <ul>
            {% for role in roles %}
                <li><a href="{% url 'member' member_slug=role.person.slug %}">{{ role.person.name }} - {{ role.role }}</a> - Status: {{ role.status }} 

                {% if team.creator == user %}
                <a class="btn btn-info" href="{% url 'role_form' pk=role.pk %}">Edit Role</a></li>
            {% endif %}

            {% endfor %}

        </ul>
     {% else %}
        <p>No team members.</p>
     {% endif %}

{% if user.is_authenticated %}
<a class="btn btn-info" href="{% url 'add_role' team_pk=team.pk %}">Join Team</a>
{% else %}
<<p>Log in and create your profile to join a team.</p>
{% endif %}


{% if team.creator == user %}
<a class="btn btn-info" href="{% url 'team_form' pk=team.pk %}">Edit</a>
{% endif %}

</div>
</div>

{% endblock %}
