{% extends "challenge/base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block main %}

<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">

<div class="breadcrumbs"><a href="/">Home > </a><a href="{% url 'all_teams' %}"> Teams ></a> {{ team.name }}</div>
<hr>

<h2>{{ team.name }}</h2>{% if team.website %}[<a href="{{ team.website }}">Link</a>]
    {% endif %}

<div class="container">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
    {% thumbnail team.image "300x300" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    </div>

    <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
        <hr>
        <h4>Description</h4>
        {{team.info}}
        <hr>
        <h4>Projects:</h4>
        {% if projects %}
            <div class="container">
                {% for project in projects %}
                    {% thumbnail project.image "40x40" crop="center" as im %}
                        <a href="{% url 'project' project_slug=project.slug %}" title="{{ project.name }}">
                        <img src="{{ im.url }}" class="img-rounded" width="{{ im.width }}" height="{{ im.height }}"></a>
                    {% empty %}
                    {% endthumbnail %}
                {% endfor %}
            </div>
         {% else %}
            <p>No projects.</p>
         {% endif %}
         <hr>

        <h4>Tags:</h4>

        {% if tags %}
            <div class="container">
                {% for tag in tags %}
                    {% thumbnail tag.image "40x40" crop="center" as im %}
                        <a href="{% url 'tag' tag_slug=tag.slug %}" title="{{ tag.name }}">
                        <img src="{{ im.url }}" class="img-rounded" width="{{ im.width }}" height="{{ im.height }}"></a>
                    {% empty %}
                    {% endthumbnail %}
                {% endfor %}
            </div>
         {% else %}
            <p>No tags.</p>
         {% endif %}
         
    </div>
</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <hr>
     <h4>Membership:</h4>
        <h5>Filled:</h5>
        {% if filled_roles %}
        <ul>
            {% for role in filled_roles %}
                <li><a href="{% url 'member' member_slug=role.person.slug %}">{{ role.person.name }} - {{ role.role }}</a> - Status: {{ role.status }}

                {% if team.creator == user %}
                <a class="btn btn-warning" href="{% url 'role_form' pk=role.pk %}">Edit Role</a>
                {% endif %}

                {% if user == role.person.user %}
                <a class="btn btn-danger" href="{% url 'quit_role' role_pk=role.pk member_pk=user.member.pk %}">Retire from Position</a>
                {% endif %}</li>

            {% endfor %}
        </ul>
     {% else %}
        <li><p>No filled positions.</p></li>
     {% endif %}

        <h5>Vacant:</h5>
        {% if vacant_roles %}
        <ul>
            {% for role in vacant_roles %}
                <li>{{ role.role }} - Status: {{ role.status }}  

                {% if user.is_authenticated %}
                    <a class="btn btn-primary" href="{% url 'apply_to_role' role_pk=role.pk member_pk=user.member.pk %}">Apply for Position</a>
                {% endif %}

                {% if team.creator == user %}
                <a class="btn btn-warning" href="{% url 'role_form' pk=role.pk %}">Edit Role</a>   
                <a class="btn btn-danger" href="{% url 'role-delete' pk=role.pk %}">  Remove Role</a></li>
                {% endif %}

            {% endfor %}
        </ul>
     {% else %}
        <li><p>No vacant positions.</p></li>
     {% endif %}
<hr>
</div>


{% if team.creator == user %}
<a class="btn btn-warning" href="{% url 'team_form' pk=team.pk %}">Edit Team</a> 

<a class="btn btn-primary" href="{% url 'add_role' team_pk=team.pk %}">Add Positions</a> 
{% endif %}

{% if user.is_authenticated %}
{% else %}
<strong>Log in and create your profile to join a team!</strong>
{% endif %}
<hr>
</div>

{% endblock %}
