<!DOCTYPE html>
<html lang="en">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<!-- DataAjaxFragmentStart -->
<div class="pnl-strt container visible-md visible-lg nvbar">
<h2>Content menu</h2>
<div class="row">
<ul class="list-inline menu" role="menubar">
<li><a href="#project" class="item">See Content</a>

<ul class="sm list-unstyled" id="see" role="menu">
<li><a href="/{% url 'all_projects' %}" class="btn btn-primary">See All Projects</a></li>

<li><a href="/{% url 'all_departments' %}" class="btn btn-primary">See All Departments</a></li>

<li><a href="/{% url 'all_members' %}" class="btn btn-primary">See All Members</a></li>

<li><a href="/{% url 'all_tags' %}" class="btn btn-primary">See All Tags</a></li>
<li><a class="btn btn-primary" href="/{% url 'visualize' %}">Visualize Data!</a></li>
</ul>

</li>
<li><a href="#implement" class="item">Create Content</a>
<ul class="sm list-unstyled" id="create" role="menu">
<li><a class="btn btn-primary" href="/{% url 'add_project' %}">Add a Project!</a></li>
<li><a class="btn btn-primary" href="/{% url 'add_member' %}">Register as a Member!</a></li>
<li><a class="btn btn-primary" href="/{% url 'add_department' %}">Add a Department!</a></li>
<li><a class="btn btn-primary" href="/{% url 'add_tag' %}">Add a Tag!</a></li>
</ul>
</li>

<li><a href="#contribute" class="item">Manage Account</a>
<ul class="sm list-unstyled" id="manage" role="menu">
<li>Coming soon</li>
<li>Coming soon</li>
<li>Coming soon</li>
<li>Coming soon</li>
</ul>
</li>
</ul>
</div>
</div>
<!-- DataAjaxFragmentEnd -->
</html>